In [1]:
from src.db import DB
from src.credentials import DB_USERNAME, DB_PASSWORD, DATABASE_NAME, RDS_HOSTNAME
import pandas as pd

QUERY = """SELECT * from orderbooks;"""

db = DB(username=DB_USERNAME, password=DB_PASSWORD, host=RDS_HOSTNAME, database_name=DATABASE_NAME)
db.cursor.execute(QUERY)
col_headers = [x[0] for x in db.cursor.description]
json_data = []
the_data = db.cursor.fetchall()
for row in the_data:
    json_data.append(dict(zip(col_headers, row)))
df = pd.DataFrame(json_data)
df

,id,time,ticker,orderbook
0,1,2023-09-15 19:09:37,INXD-23SEP18-B4512,"{""ask"": [[95, 52]], ""bid"": null}"
1,2,2023-09-15 19:21:36,INXD-23SEP18-B4512,"{""ask"": [[95, 52]], ""bid"": null}"
2,3,2023-09-15 19:21:37,INXD-23SEP18-B4512,"{""ask"": [[95, 52]], ""bid"": null}"
3,4,2023-09-15 19:21:37,INXD-23SEP18-B4512,"{""ask"": [[95, 52]], ""bid"": null}"
4,5,2023-09-15 19:21:37,INXD-23SEP18-B4512,"{""ask"": [[95, 52]], ""bid"": null}"
...,...,...,...,...
383,384,2023-09-16 20:33:59,INXD-23SEP18-B4462,"{""ask"": [[54, 8], [65, 25]], ""bid"": [[20, 500]..."
384,385,2023-09-16 20:33:59,INXD-23SEP18-B4462,"{""ask"": [[53, 500], [54, 8], [56, 375], [59, 2..."
385,386,2023-09-16 20:34:00,INXD-23SEP18-B4437,"{""ask"": [[54, 8], [55, 25], [56, 500], [59, 37..."
386,387,2023-09-16 20:34:00,INXD-23SEP18-B4412,"{""ask"": [[54, 8], [68, 25], [75, 500]], ""bid"":..."
387,388,2023-09-16 20:34:01,INXD-23SEP18-B4412,"{""ask"": [[54, 8], [55, 125], [68, 25]], ""bid"":..."

In [1]:
# imports
from kalshi_collector import KalshiCollector
from credentials import KALSHI_EMAIL, KALSHI_PASSWORD

ticker="INXD-23SEP18-B4512"

kc = KalshiCollector(ticker=ticker, username=KALSHI_EMAIL, password=KALSHI_PASSWORD)
orderbook = kc.collect_orderbook()
orderbook

{'bid': [[1, 500]],
 'ask': [[1, 1254],
  [2, 228],
  [3, 57],
  [73, 28],
  [74, 25],
  [75, 24],
  [76, 16],
  [77, 14],
  [78, 6],
  [79, 4],
  [84, 500],
  [87, 375],
  [90, 250],
  [93, 125],
  [95, 68]]}